
#invisible{
  visibility:hidden;
}

#visible{
  visibility:visible;
}

#invisible:hover{
  visibility:visible;
}

.firstslide{
  position:relative;
  text-align: center;
  margin-top: 100px;
  margin-right:275px;
}

.waveimg{
  position:relative;
  margin-left: 70px;
}

.asccy{
  position:relative;
  margin-left: 400px;
}
